/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
a.text-normal{
	color:#333333;
}

.modal-dialog.modal70 {
    width:70% !important;
}

.modal-mini-dv {
	width: 50px; 
	#padding-top:5px;
}

.modal-inpt {
	padding-top:5px;
}

.red{
	color: #f00;
}
