/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
a.text-normal{
	color:#333333;
}

.modal-dialog.modal70 {
    width:70% !important;
}

.modal-mini-dv {
	width: 50px; 
	#padding-top:5px;
}

.modal-inpt {
	padding-top:5px;
}

.red{
	color: #f00;
}

.lb-left-align{
	text-align:left !important;
}

.table-border-black th,td{/*border:1px solid #000000 !important;*/}

.datepicker {z-index: 1151 !important;}	/* datapick가 bootbox에서 사용할때 윈도우 밖에서 날짜가 생성된는것을 수정   */ 
.bootstrap-timepicker-widget {z-index: 1151 !important;}	/* datapick가 bootbox에서 사용할때 윈도우 밖에서 날짜가 생성된는것을 수정   */ 